/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');


/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'IBM+Plex+Sans+Thai', sans-serif;
}

/*Header*/
header {
    background-color: #d7d5d5fb;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #292929;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
text-decoration: none;
color: inherit;
}

h1 {
    font-family: 'IBM+Plex+Sans+Thai', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #008000;
}

#menu {
    font-size: 112%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li{
    margin-bottom: 0.8em;
}

.active {
    border-bottom: 1.5px dotted#292929;
}

nav {
    position: absolute;
    background-color: #d7d5d5fb;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 4px #292929;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-lable{
font-size: 1.3rem;
}

/*Media queries for driffernt screen sizes*/
@media only screen and (max-width: 767px) {
    h1{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1024px) {
    h1{
        font-size: 42.3px;
    }
}

@media only screen and (min-width: 1440px) {
    h1{
        font-size: 50px;
    }
}

/*Main content*/
main {
    background-color: lightblue;
    /*make main push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: orange;
}